
.Popularcard{
    padding: 20px;
    margin-top: 10px;
}


.cardbody{
    border-radius: 15px;
    padding: 30px 30px 30px 30px;
    cursor: pointer;
}

.cardbody:hover{
    background: rgba(4, 213, 199, 0.09);
    border: 3px solid #34A8FF;
    border-radius: 15px;
    padding: 30px 30px 30px 30px;

}

.cardimage>img{
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.services{
padding-top: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
letter-spacing: 0.02em;
text-align: center;

color: #002D66;

}