.dashbord-cover{
padding: 10px 0px 10px 10px;
width: 90%;
}


.dashboardbtns {
    color: rgb(255, 255, 255);
    background: #000000;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    width: 100%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
align-items: center;
}