
.dash-padding{
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 20px;
    background: #ffffff;
}

.nevside{
    padding-top: 20px;
}

.dashtitle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;
}

.dashhr{
    border: 1px solid rgba(205, 205, 205, 0.849);
}

.right-sied{
   padding: 30px 30px 30px 30px;
    background: #FFFFFF;
border: 0.5px solid #ccccccb0;
box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.searchbar{
    padding: 0px 100px 0px 100px;
    
}


.Notification {
    display: flex;
    gap: 14px;
    justify-content: center;

 }
 .Notification_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #EEF7FE;
 }
 .circular--profile {
    border-radius: 50%;
 }
 

 .Profile_name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
 }
 .Message {
    color: #8D8E8F;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
 
 }

 


 .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .searchbarinput{
    width: 100%;

  }
  

 .actionp{
padding-left: 10px;
padding-right: 10px;
 
 }




 .editbtn{
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  color: #0071FF;
  

 }

 .deletebtn{
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  color: #FF0000;

 }


 .editbtn:hover{
  background:#0071FF;
  padding: 5px;
  border-radius: 20px;
  color: white;
 }


 .deletebtn:hover{
  background:#FF0000;
  padding: 5px;
  border-radius: 20px;
  color: white;
 }

 .statuscolor{
  background: rgba(34, 196, 94, 0.11);
border: 1px solid #22C45E;
 }


 .Exportsheet{
  margin-top: 5px;
  background: #0387f3;
  font-size: small;
  padding: 7px 7px 6px 7px;
  color: white;
  float: right;
  border-radius: 5px;
 }